{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">
    <i class="bi bi-bookmarks-fill text-primary"></i> Метки
</h1>

<a href="{% url 'label_create' %}" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle"></i> Создать метку
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td class="text-nowrap">
                <a href="{% url 'label_update' label.id %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i> Изменить
                </a>
                <a href="{% url 'label_delete' label.id %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i> Удалить
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Метки не найдены</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}