{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1 class="my-4">Пользователи</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th></th> {# Колонка для действий #}
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                {# Кнопки появляются только если это текущий пользователь #}
                {% if user == request.user %}
                    <a href="{% url 'user_update' user.pk %}" class="btn btn-sm btn-primary">Изменить</a>
                    <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}